/* CUSTOM PROPERTIES */
:root {
    --primary-col : #66de73;
    --secondary-col: #041531;
    --bg-col-header: rgb(200, 200, 200);
    --bg-col-footer: rgb(200, 200, 200);
    --bg-col-main:;
    --bg-col-cell-lblue: lightblue;

    --header-height: 80px;
    --footer-height: 80px;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* COMMON */
.container {
    width: 100%;
    height: 100vh;
    background-color: gainsboro;
}




/* UTILITIES */
.d-none {
    display: none;
}

.bg-lightblue {
    background-color: lightblue;
}



/* HEADER */
.header {
    height: var(--header-height);
    background-color: var(--bg-col-header);
    border-bottom: 2px solid var(--secondary-col);
}

.nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* MAIN */
.main {
    height: calc(100% - (var(--header-height)) - (var(--footer-height)));
    border-top: 2px solid var(--primary-col);
    border-bottom: 2px solid var(--secondary-col);
}

.wrapper {
    height: 100%;
    width: 100%;
    margin: 0 auto; 
    display: flex;   
    justify-content: center;
    align-items: center;
}

.grid {
    width: 550px;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--secondary-col);
}

.cell {
    aspect-ratio: 1;
    border: 1px solid var(--secondary-col);
    display: flex;
    justify-content: center;
    align-items: center;
} 




/* FOOTER */
.footer {
    height: var(--footer-height);
    background-color: var(--bg-col-footer);
    border-top: 2px solid var(--primary-col);
}